<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sessionFactory">
	<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql:///hibernate?useUnicode=true&amp;characterEncoding=utf8</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
	
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- 指定二级缓存的外部实现类 -->
		<property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider </property>
		
		<mapping resource="cc/wlc/test/entity/Employee.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
